server:
  port: 8081

spring:
  datasource:
    url:  jdbc:mysql://localhost:3306/microservices
    username:  root
    password: Swet@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

#  profiles:
#    active: prod/dev/default

  application:
    name: USER-SERVICE

  config:
    import: optional:configserver:http://localhost:8085

#  cloud:
#    config:
#      enabled: false


#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka

#actuator configuration
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

#ckt breaker configuration using resilience4j library
resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
  #RETRY implementation
  retry:
    instances:
       ratingHotelService:
        max-attempts: 3
        wait-duration: 5s

  #RATE LIMITER Implementation
  ratelimiter:
    instances:
      userServiceRateLimiter:
        limit-for-period: 5          # max 5 calls
        limit-refresh-period: 10s    # every 10 seconds
        timeout-duration: 1s         # wait time to get permission



#jwt:
#  secret: "very-long-random-secret-string-at-least-32-chars"


